@import 'variables';

.about {
  padding: 0 73px;
}

.about__confectioner {
  margin-bottom: 110px;
}

.about__confectioner-photo {
  width: 510px;
  height: 510px;
  border-radius: 50%;
  float: right;
  position: relative;
  top: -80px;
  right: 70px;
}

.about__confectioner-text {
  width: 600px;
  line-height: 24px;
  margin-bottom: 30px;
}

.about__confectioner-text p {
  margin-bottom: 20px;
  width: 615px;
}

.about__confectioner-social {
  display: flex;
  width: 140px;
  justify-content: space-around;
}

.about__confectioner-social a {
  display: block;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $button-color;
}

.about__confectioner-social svg {
  width: 20px;
  height: 20px;
}

.about-quote {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.about-quote__quotes {
  font-family: 'Playfair Display';
  font-size: 140px;
  line-height: 40px;
  color: #fff;
  position: relative;
  top: 30px;
}

.about-quote__text {
  text-align: center;
  line-height: 37px;
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 25px;
}

.about-advantages {
  height: 565px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-advantages__bgpic {
  position: absolute;
  width: 565px;
  height: 490px;
  top: -10%;
  left: 0;
}

.about-advantages__heading {
  margin-bottom: 20px;
}

.about-advantages__subheading {
  margin-bottom: 130px;
}

.about-advantages__info {
  width: 460px;
  position: relative;
  left: 180px;
}

.about-advantages__info p,
.about-advantages__info h3 {
  padding-left: 100px;
  line-height: 24px;
}

.about-advantages__info-ingridients {
  background-image: url('../img/ingredients.png');
  background-repeat: no-repeat;
  background-position: 14px center;
  background-size: auto 60px;
  margin-bottom: 30px;
  width: 480px;
}

.about-advantages__info-fresh {
  background-image: url('../img/fresh.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 50px;
}

.about-care {
  height: 700px;
  padding: 265px 73px 0 73px;
  display: flex;
  overflow-y: hidden;
}

.about-care__cont {
  width: 413px;
}

.about-care__text {
  line-height: 24px;
}

.about-care__bg {
  width: 768px;
  height: 802px;
  position: relative;
  margin-top: -265px;
}
