@import 'variables';

.custom-order {
  padding-top: 100px;
}

.custom-order {
  width: 1220px;
  margin: 0 auto;
}

.custom-order__heading-wrapper {
  text-align: center;
}

.custom-order__block {
  width: 100%;
  background-color: #fff;
  margin-bottom: 35px;
  box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-order__block:last-child {
  margin-bottom: 0;
}

.custom-order__step {
  color: #f50049;
  margin-bottom: 40px;
}

.custom-order__step-no {
  font-size: 40px;
}

.custom-order__step-desc {
  font-size: 30px;
}

.custom-order__arrow {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-order__arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.custom-order__arrow-wrapper:hover {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.custom-order__filling-block {
  width: 700px;
  display: flex;
}

.custom-order__filling-photo {
  width: 50%;
}

.custom-order__filling-desc-block {
  height: 100%;
  padding: 0 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-family: 'Open Sans';
}

.custom-order__filling-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-order__filling-desc {
  margin-bottom: 20px;
  font-weight: normal;
}

.custom-order__filling-price {
  font-family: 'Playfair Display';
  font-size: 22px;
  margin-bottom: 50px;
}

.custom-order__filling-button {
  width: 180px;
}

.custom-order__filling-no {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 18px;
  color: #949494;
}

.custom-order__size-content {
  padding-top: 60px;
  display: flex;
  align-items: flex-end;
  font-weight: 600;
}

.custom-order__size-type {
  margin-right: 25px;
}

.custom-order__size-type:last-child {
  margin-right: 0;
}

.custom-order__size-desc {
  padding-left: 25px;
  font-size: 16px;
  line-height: 30px;
  opacity: 0.7;
}

.custom-order__size-pic {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-pic-wrapper {
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.size-pic-wrapper:hover {
  box-shadow: 0px 6px 15.52px 0.48px rgba(103, 12, 40, 0.14);
}

.size-pic-1kg {
  border-radius: 50%;
  border: 4px dotted black;
  width: 100px;
  height: 100px;
}

.size-pic-2kg {
  border-radius: 50%;
  border: 4px dotted black;
  width: 150px;
  height: 150px;
}

.size-pic-5kg {
  border-radius: 50%;
  border: 4px dotted black;
  width: 170px;
  height: 170px;
  position: relative;
}

.size-pic-5kg:before {
  content: '';
  position: absolute;
  border: 4px dotted black;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
}

.size-pic-8kg {
  border-radius: 50%;
  border: 4px dotted black;
  width: 200px;
  height: 200px;
  position: relative;
}

.size-pic-8kg:before {
  content: '';
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  border: 4px dotted black;
}

.size-pic-8kg:after {
  content: '';
  position: absolute;
  top: 55px;
  left: 55px;
  right: 55px;
  bottom: 55px;
  border-radius: 50%;
  border: 4px dotted black;
}

.custom-order__decor {
  background-image: url(../img/decor-background.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  display: flex;
  flex-direction: column;
}

.custom-order__decor-choice {
  height: 450px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.custom-order__decor-choice__list {
  width: 713px;
  padding: 15px;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.custom-order__decor-choice__list-item {
  width: 321px;
  height: 100%;
  flex: 0 0 auto;
  margin-right: 41px;
  background-color: #fff;
  box-shadow: 0px 7px 12.74px 0.26px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.custom-order__decor-choice__list-item:hover {
  box-shadow: 0px 6px 9.7px 0.3px rgba(0, 0, 0, 0.14);

}

.custom-order__decor-choice__list-pic:last-child {
  margin-right: 0;
}

.custom-order__decor-choice__list-item p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  margin-top: 30px;
}

.custom-order__decor-choice__list-item__name {
  font-size: 20px;
  font-weight: normal;
}

.custom-order__decor-choice__list-item__price {
  font-size: 22px;
  font-family: 'Playfair Display';
}

.custom-order__decor-choice__no {
  position: absolute;
  bottom: 15px;
  right: 15px ;
  font-size: 18px;
  color: #949494;
}

.custom-order__decor-form  {
  margin-top: 30px;
}

.custom-order__decor-form form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.custom-order__decor-form__heading {
  font-size: 27px;
  margin-bottom: 15px;
}

.custom-order__decor-form__subheading h2 {
  font-size: 27px;
  color: $form-subheading-color;
}

.custom-order__decor-form__order {
  width: 230px;
  align-self: flex-end;
  margin-right: 0;
}

.custom-order__decor-form__filling-choice {
  width: 250px;
  margin-right: 80px;
}

.custom-order__decor-form__decor-choice {
  width: 250px;
  margin-right: 20px;
}

.custom-order__decor-form__size-choice {
  width: 137px;
  margin-right: 80px;
}
