.our-cakes {
  margin-top: -60px;
}

.our-cakes__wrapper {
  width: 1220px;
  margin: 0 auto;
}

.our-cakes__heading {
  font-weight: normal;
  line-height: 40px;
  margin-bottom: 70px;
}

.our-cakes__section {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: row;
}

$section-gap: 3.5%;
.our-cakes__section:first-of-type {
  margin-bottom: $section-gap;
}

$side-tiles-gap: 3.5%;
.our-cakes__side-tiles {
  display: flex;
  flex-direction: column;
  width: 39.5%;
  height: 100%;
}

.our-cakes__tile--big {
  height: 100%;
  width: 57%;
  margin-right: $side-tiles-gap;
}

.our-cakes__tile--big--right {
  margin-left: $side-tiles-gap;
  margin-right: 0;
}

$small-tiles-gap: 8.861%;
.our-cakes__tile--small {
  height: 100% - $small-tiles-gap / 2;
  width: 100%;
}

.our-cakes__tile--small:first-child {
  margin-bottom: $small-tiles-gap;
}

@media (max-width: 1400px) {
  .our-cakes__wrapper {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 1220px) {
  .our-cakes {
    margin-top: 0px;
  }

  .our-cakes__heading {
    margin-bottom: 40px;
  }

  .our-cakes__wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .our-cakes__section {
    height: 388px;
  }

  .our-cakes__section:first-of-type {
    margin-bottom: 20px;
  }
}
