@import 'variables';

.page-header {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 73px;
}

.page-header__wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: baseline;
}

.page-header__logo {
  font-size: 24px;
  margin: 0 47px 0 0;
}

.page-header__link {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  color: black;
  margin-right: 44px;
}

.page-header__link:last-child {
  margin-right: 0;
}

.page-header__link:hover {
  color: $link-focus-color;
}

.page-header__phone {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-left: auto;
}
