.page-start {
  height: 941px;
  position: relative;
  padding: 0 73px;
  background: center center no-repeat url('../img/page-start__cake-bg.png');
  background-size: 1179px 941px;
  background-position: 300px 0px;
}

.page-start__section {
  padding-top: 120px;
}

.page-start__heading {
  font-size: 78px;
  line-height: 70px;
}

.page-start__subheading {
  font-size: 40px;
  margin-top: 30px;
}

.page-start__button {
  width: 225px;
  margin-top: 60px;
}

.page-start__features {
  margin-top: 120px;
  display: flex;
  justify-content: flex-start;
}

.page-start__feature {
  width: 50%;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  height: 55px;
  padding-left: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-start__feature--ingredients {
  box-sizing: content-box;
  width: 160px;
  background: no-repeat url('../img/ingredients.png');
}

.page-start__feature--delivery {
  box-sizing: content-box;
  width: 200px;
  background: no-repeat url('../img/delivery.png');
}
