.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.slider__wrapper {
  display: flex;
  margin-bottom: 20px;
}

$slide-w: 700px;
.slider__slides {
  display: flex;
  overflow: hidden;
  width: $slide-w;
}

.slider__slide {
  display: flex;
  flex-shrink: 0;
  width: $slide-w;
}

$slide-pic-h: 390px;
$slide-pic-w: 344px;

.slider__slide-pic-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $slide-pic-h;
  height: $slide-pic-w;
  overflow: hidden;
}

.slider__slide-pic {
  object-fit: contain;
}

$desc-padding: 30px;

.slider__slide-desc {
  width: $slide-w - $slide-pic-w;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: $desc-padding;
  padding-left: $desc-padding;
}

.slider__slide-header {
  margin-bottom: 5px;
}

.slider__slide-text {
  line-height: 24px;
  margin-bottom: 25px;
}

.slider__slide-price {
  font-family: 'Playfair Display';
  font-size: 22px;
}

.slider__choose {
  width: 180px;
  left: 500px;
  margin-bottom: 20px;
}

.slider__slide-no {
  font-size: 18px;
  color: #949494;
}

.slider__arrows {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__arrows-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.slider__arrows-circle:hover {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1220px) {

  .slider__slide,
  .slider__slides {
    width: $slide-w / 2;
  }
  .slider__slide-pic-wrapper {
    height: $slide-pic-h / 2;
    width: $slide-pic-w / 2;
  }

  $desc-padding: 10px;
  .slider__slide-desc {
    padding-top: $desc-padding;
    padding-left: $desc-padding;
    width: ($slide-w - $slide-pic-w) / 2;
    font-size: 14px;
  }

  .slider__slide-text {
    line-height: 1.2;
  }

  .slider__slide-price {
    font-size: 20px;
  }

  .slider__slide-no {
    font-size: 12px;
  }
}
