.tile {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
}

.tile:hover {
  box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.12);
}

.tile__header-wrapper {
  position: absolute;
  top: 40px;
  left: 50px;
}

.tile__header {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}

.tile__amount {
  font-size: 20px;
  line-height: 20px;
  color: #787878;
}

.tile__view {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 35px;
  right: 50px;
  font-weight: 600;
  font-size: 20px;
}

.tile__view-arrow {
  color: #787878;
}

.tile--first .tile__view-arrow {
  margin-left: 20px;
}

.tile--classic {
  background-image: url('../img/tile--classic.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.tile--mousse {
  background-image: url('../img/tile--mousse.jpg');
  background-repeat: no-repeat;
  background-position: 40% 60%;
}

.tile--wedding {
  background-image: url('../img/tile--wedding.jpg');
  background-repeat: no-repeat;
  background-position: 60% center;
}

.tile--child {
  background-image: url('../img/tile--child.jpg');
  background-repeat: no-repeat;
  background-position: center 60%;
  background-size: auto 80%;
}

.tile--male {
  background-image: url('../img/tile--male.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
}

.tile--female {
  background-image: url('../img/tile--female.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 1366px) {
  .tile__header-wrapper {
    top: 22px;
    left: 25px;
  }

  .tile__header {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
  }

  .tile__amount {
    font-size: 12px;
    line-height: 12px;
  }

  .tile__view {
    bottom: 20px;
    right: 40px;
    font-size: 12px;
  }

  .tile--classic {
    background-image: url('../img/tile--classic-m.jpg');
    background-position: center 60%;
  }

  .tile--mousse {
    background-image: url('../img/tile--mousse-m.jpg');
    background-position: 50% 60%;
    background-size: auto 80%;
  }

  .tile--wedding {
    background-image: url('../img/tile--wedding-m.jpg');
    background-position: center center;
  }

  .tile--child {
    background-image: url('../img/tile--child-m.jpg');
    background-position: center 70%;
  }

  .tile--male {
    background-image: url('../img/tile--male-m.jpg');
    background-position: center 90%;
  }

  .tile--female {
    background-image: url('../img/tile--female-m.jpg');
    background-position: center 70%;
  }
}

@media (max-width: 900px) {
  .tile__view-arrow {
    display: none;
  }

  .tile--wedding {
    background-position: 70% 60%;
  }
}

@media (max-width: 768px) {
  .tile__header-wrapper {
    top: 12px;
    left: 12px;
  }

  .tile__view {
    display: none;
  }

  .tile--classic {
    background-image: url('../img/tile--classic-s.jpg');
    background-position: 80% -30%;
  }

  .tile--mousse {
    background-image: url('../img/tile--mousse-s.jpg');
    background-position: 70% 60%;
    background-size: auto 100%;
  }

  .tile--wedding {
    background-image: url('../img/tile--wedding-s.jpg');
    background-position: 74% -60%;
  }

  .tile--child {
    background-image: url('../img/tile--child-s.jpg');
    background-position: 80% 10%;
    background-size: auto;
  }

  .tile--male {
    background-image: url('../img/tile--male-s.jpg');
    background-position: 80% -30%;
  }

  .tile--female {
    background-image: url('../img/tile--female-s.jpg');
    background-position: 80% -30%;
  }
}
