@import 'variables';

.about {
  margin-bottom: 500px;
}

.about__confectioner {
  margin-bottom: 110px;
}

.about__confectioner-header {
  margin-bottom: 20px;
}

.about__confectioner-photo {
  width: 510px;
  height: 510px;
  border-radius: 50%;
  float: right;
  position: relative;
  top: -80px;
  right: 70px;
}

.about__confectioner-text {
  font-family: 'OpenSans-Regular';
  width: 600px;
  line-height: 24px;
  margin-bottom: 30px;
}

.about__confectioner-text strong {
  margin: 15px 0 10px 0;
  display: block;
  font-family: 'OpenSans-Bold';
}

.about__confectioner-social {
  display: flex;
  width: 140px;
  justify-content: space-around;
}

.about__confectioner-social a {
  display: block;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $button-color;
}

.about__confectioner-social svg {
  width: 20px;
  height: 20px;
}

.about-quote {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about-quote__quotes {
  font-family: 'PlayfairDisplay';
  font-size: 140px;
  line-height: 40px;
  color: #fff;
  position: relative;
  top: 30px;
}

.about-quote__text {
  text-align: center;
  line-height: 37px;
  font-family: 'PlayfairDisplay';
  font-style: italic;
  font-size: 25px;
}
