@import 'variables';
@import 'normalize';
@import 'fonts';

html {
  background-color: #fff;
}

body {
  width: 1366px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #fbebea;
  box-shadow:
     10px 0 40px 0 rgba(0, 0, 0, 0.1),  2px 0 9px 0 rgba(62, 57, 107, 0.1),
    -10px 0 40px 0 rgba(0, 0, 0, 0.1), -2px 0 9px 0 rgba(62, 57, 107, 0.1);
}

* {
  box-sizing: border-box;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
}

button:focus {
  outline: none;
}

.button {
  height: 50px;
  background-color: $button-color;
  border-radius: 25px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
}

.button:hover {
  box-shadow: 0px 5px 7px 1px $button-hover-color;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.slide-arrows {
  height: 16px;
  width: auto;
  color: $slide-arrow-color;
}

p {
  margin: 0;
  padding: 0;
}

.input {
  padding: 13px 0;
  border: 0;
  border-bottom: 1px solid gray;
  font-size: 18px;
  width: 100%;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.input:hover {
  border: none;
  border-bottom: 1px solid black;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@import 'headers';
@import 'page-header';
@import 'page-start';
@import 'our-cakes';
@import 'tile';
@import 'custom-order';
@import 'reviews';
@import 'about';
@import 'how-to-order';
@import 'contacts';
@import 'footer';
