@import 'variables';
@import 'normalize';
@import 'fonts';

html {
  background-color: #fbebea44;
}

body {
  width: 1366px;
  margin: 0 auto;
  padding: 0 73px;
  font-family: 'OpenSans-SemiBold';
  background-color: #fbebea;
}

* {
  box-sizing: border-box;
}

.heading {
  font-family: 'PlayfairDisplay';
  font-size: 40px;
}

.subheading {
  font-family: 'MarckScript-Regular';
  font-size: 35px;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
}

button:focus {
  outline: none;
}

.button {
  height: 50px;
  background-color: $button-color;
  border-radius: 25px;
  font-family: 'OpenSans-SemiBold';
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
}

.button:hover {
  box-shadow: 0px 5px 7px 1px $button-hover-color;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.slide-arrows {
  height: 16px;
  width: auto;
  color: $slide-arrow-color;
}

p {
  margin: 0;
  padding: 0;
}

.input {
  padding: 13px 0;
  border: 0;
  border-bottom: 1px solid gray;
  font-size: 18px;
  width: 100%;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.input:hover {
  border: none;
  border-bottom: 1px solid black;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@import 'header';
@import 'mainblock';
@import 'our-cakes';
@import 'custom-order';
@import 'reviews';
@import 'about';
@import 'how-to-order';
